// Colors used only by the Change Theme picker preview
@toolbar-background-color: #2E3032;
@panel-background-color: #861F41;
@list-bg: #FAFAF8;
@component-active-color: #E5751F;
@text-color: #24262A;
